.nav-link:hover,.nav-link:focus{
   text-decoration: none; 
   color: pink !important;
}
.nav-link {
    color: white !important;
}
.btn-dark:hover,.btn-dark:focus {
    text-decoration: none;
    color: blak !important;
    background: pink !important;
}
.btn-secondary:hover {
    text-decoration: none;
    color: black !important;
    background: pink !important;
}
.dropdown-toggle,.dropdown-item{
    cursor : pointer;
}
.mnav-link:hover,.nav-link:focus{
    text-decoration: none;
    color: pink !important;  
}
.mnav-link{
    color: black !important;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: 'JF Flat';
    font-size: 1.0rem;
}