<div class="rtl container mt5">
  <div  *ngIf="!registerMode" style="text-align: center;">
     <h2 style="font-family: 'JF FLAT'">زواج يأتي لك بشريكك في الحياة</h2>
     <h5 style="font-family:'JF FLAT'"> أنت الان على بعد خطوة من تحقيق حلمك</h5>
       <div class="text-center">
         <button (click)="registerToggle()" style="font-family:'JF FLAT'" class="btn btn-secondary  btn-lg">اشترك معنا</button>
        </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
          <app-register (cancelRegister)="cancelRegister($event)"></app-register>
      </div>

    </div>
  </div>

</div>
